<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.zhenquan.doubanread">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<application
    android:name=".ui.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
        android:name=".ui.activity.MainActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:launchMode="singleTask"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".ui.classfiy.BookTagListActivity" />
    <activity android:name=".ui.classfiy.BookListActivity" />
    <activity android:name=".ui.activity.UserEntranceActivity" />
    <activity android:name=".ui.classfiy.BookDetailActivity" />
    <activity android:name=".ui.activity.WebViewActivity" />
    <activity android:name=".ui.activity.UserInfoSettingActivity" />
    <activity android:name=".ui.activity.SearchBookActivity" />
    <activity android:name=".ui.activity.Json2SqlActivity"></activity>
</application>

</manifest>